[core]
	excludesfile = "$HOME/.gitignore_global"
	autocrlf = false

[user]
	name = "YUJI"
	email = "mail@yuji.ne.jp"
	signingkey = mail@yuji.ne.jp
[credential]
	helper = cache --timeout=3600
[color]
	ui = true
[pull]
	rebase = false
[url "github:"]
    InsteadOf = https://github.com/
    InsteadOf = git@github.com:
