[core]
	excludesfile = "$HOME/.gitignore_global"
	autocrlf = false

[user]
	name = "YUJI"
	email = "mail@yuji.ne.jp"
	signingkey = mail@yuji.ne.jp
[credential]
	helper = cache --timeout=3600
[color]
	ui = true
[pull]
	rebase = false

[url "git@github.com:"]
	pushInsteadOf = git://github.com/
	pushInsteadOf = https://github.com/
[url "git@gitlab.com:"]
	pushInsteadOf = git://gitlab.com/
	pushInsteadOf = https://gitlab.com/
