[core]
	excludesfile = "$HOME/.gitignore_global"
	autocrlf = false
	editor = vi

[user]
	name = "YUJI"
	email = "mail@yuji.ne.jp"
	signingkey = mail@yuji.ne.jp
[credential]
	helper = cache --timeout=3600
[color]
	ui = true
[pull]
	rebase = false

[url "git@github.com:"]
	insteadOf = git://github.com/
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = git://gitlab.com/
	insteadOf = https://gitlab.com/
[diff]
	tool = vimdiff
[difftool]
	prompt = false
